{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firstcry</title>
   <link rel="shortcut icon" href="{% static 'adminstyle2/images/favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href=" {% static 'styles/css.css' %}" />
<link rel="stylesheet" type="text/css" href=" {% static 'styles/buttonstyle.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'styles/font-awesome.css' %}">

  <link rel="stylesheet" href="{% static 'styles/templatemo-hexashop.css' %}">

  <link rel="stylesheet" href="{% static 'styles/menubar.css' %}">

  <link rel="stylesheet" href="{% static 'styles/new.css' %}">

  <link rel="stylesheet" href="{% static 'styles/foruser.css' %}">


<style>

   #menu1234 {

    background-color: #ffffff;
    color: rgb(16, 16, 16);
    padding: 20px;
}

#data {
    flex: 1;
    padding: 20px;
}

#menu1234 a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    height: 35px;
    border-top: 5px solid #fefcfc; /* Initially set the top border */
    transition: border-top-color 0.3s; /* Transition for a smooth effect */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu1234 a:hover {
    background-color: #c6c5c5;
    border-top-color: #c6c5c5; /* Change the top border color on hover */
}
#menu1234 a span{
    margin-left: 20px;
}
body {
  background-color: rgb(239, 234, 234);
}
#images {
  flex-grow: 1; /* This makes the images div take up the remaining space */
  display: block;
  flex-wrap: wrap; /* Allow images to wrap to the next line */
  justify-content: space-between; /* Adjust the spacing between columns */
  padding: 20px;
}

#images img {
  width: 100%; /* Adjust the width of each image, accounting for spacing */
  margin-bottom: 20px; /* Add some spacing between images */
  box-sizing: border-box; /* Include padding and border in the width */
}



.edit-container {
    display: none;
}

/* jQuery validation error text */
label.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

/* Input field border when error */
input.error {
    border: 1px solid red;
}

/* Input field when valid */
input.valid {
    border: 1px solid green;
}
</style>
</head>
<body>

{% include "partials/header.html" %}
<div style="width: 100%; height: 100px;">

</div>

<!-- End of the navmenu-->



  <!-- partial:partials/_sidebar.html -->
  


  <div >
    <div class="container" >
    <div style="display: flex; background-color: #ffffff;">

    
              <div id="menu1234" style="width: 300px;">
                <h3>My Account</h2>
                  <div style="height: 20px;"></div>
               
                <div style="height: 40px; background-color: bisque;"> <h5 style=" border-top: 10px solid bisque; margin-left: 10px; " >My Orders </h4></div>
                <div style="height: 20px;"></div>
                <div > <a href="{% url 'orderhistory' %}" ><span >Order Hisotory</span></a></div>
                <div ><a href="{% url 'showReturnedOrders' %}"><span>Manage Returns</span></a></div>
                <div ><a href="#" ><span>Track Order</span></a></div>
                <div style="height: 20px;"></div>
                <div style="height: 20px;"></div>
         
                <div style="height: 40px; background-color: bisque;"> <h5 style=" border-top: 10px solid bisque; margin-left: 10px; " >My Profile </h4></div>
                <div style="height: 20px;"></div>
                <div style="background-color: #c6c5c5;" > <a href="{% url 'personal' %}" ><span >Personal Details</span></a></div>
                <div ><a href="{% url 'show_changepassword' %}"><span>Change Password</span></a></div>
                <div ><a href="{% url 'show_address' %}" ><span>My address Book</span></a></div>
            
                <div style="height: 20px;"></div>
                <div style="height: 20px;"></div>
         
                <div style="height: 40px; background-color: bisque;"> <h5 style=" border-top: 10px solid bisque; margin-left: 10px; " >My Wallet </h4></div>
                  <div  style="height: 20px;"></div>
                  <div > <a href="{% url 'show_wallet' %}" ><span >Cash in Wallet</span></a></div>
                  <div  > <a href="{% url 'wallet_transaction' %}" ><span >Refund Transactions</span></a></div>
            
              </div>
     
            <div id="images" style="background-color: #ffffff;; margin-left: 50px;  box-shadow: 2px 2px 5px;">
              <!-- Your images go here -->
              <div style="height: 40px;"> <h5 style=" margin-left: 10px; "> Your Information</h4></div>
                <div style="height: 60px;width: 100%; border-radius: 10px; background-color:rgb(239, 234, 234);"></div>
              <div style=" width: 100%; ">
                <br>
               <h5 style="margin-left: 5px;">Personal Details</h5>
               <div style=" display: flex;"  id="view-container">
                <div class="address"  >
                    <table  style="width: 500px; ">
                    
                  
                        <tr>
                            <th style="padding: 15px; width: 200px;">Your name</th>
                            <td style="width: 100px;">{{user.first_name}} &nbsp;&nbsp;{{user.last_name}}</td>

                        </tr>
                        <tr>
                            <th style="padding: 15px;">Mobile Number</th>
                            <td> {{user.mobile}}</td>
                        </tr>
                        <tr>
                            <th style="padding: 15px;">Email</th>
                            <td> {{user.email}}</td>
                        </tr>
                         
                    </table>
                     
                </div>
                    <div class="payment" style="margin-left: 100px;">
                        <button  onclick="showEditForm()" style="border: none;" > <img src="{% static 'images/edit.png'%}"  style="height: 50px; width: 50px;" alt=""></button>
                       
                    </div>
            </div>



                <!--
                    new div
                -->

                <form id = "userupdataion" action="{% url 'update_user' %}" method="post">
                    {%csrf_token%}
                <div   id="edit-container" class="edit-container"  >
                    <div class="address"  >
                        <table  style="width: 500px;" >
                     
                            <tr>
                                <th colspan="1" style="padding: 15px;  white-space: nowrap;">Your name</th>
                                <td style="width: 100px;" >
                                    <input type="text" style="width: 200px;" class="form-control form-control-sm" placeholder="First Name" name="firstname" value="{{user.first_name}}">
                                    <span style="color:red;">
                                                {{ form.firstname.errors.0 }}
                                    </span>
                                </td>
                                <td>
                                    <input type="text" style="width: 200px;" class="form-control form-control-sm" placeholder="Last name" name="lastname" value="{{user.last_name}}">
                                <span style="color:red;">
                                                {{ form.lastname.errors.0 }}
                                    </span>
                                </td>
    
                            </tr>
                            <tr>
                                <th colspan="1" style="padding: 15px; width: 500px;white-space: nowrap;">Mobile Number</th>
                                <td colspan="2">  <input type="text" style="width: 200px;" class="form-control form-control-sm" placeholder="Mobile Number" name="mobile" value="{{user.mobile}}">
                                <span style="color:red;">
                                {{ form.mobile.errors.0 }}
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="1" style="padding: 15px;">Email</th>
                                <td> {{user.email}}</td>
                                
                            </tr>
                           
                            <tr>
                                <td colspan="2"><button type="submit" class="btn1 btn1-gradient-primary me-2">Submit</button></td>
                                <td> <button type="button" onclick="cancelButton()" class="btn1 btn1-gradient-primary me-2" > Cancel</button></td>
                                
                            </tr>
                        </table>
                    </div>
                        <div class="payment" style="margin-left: 150px;">
                           
                        </div>
                </div>
            </form>
  <!--
                    new div
                -->


              </div>
             
             
          </div>
        </div>
    </div>
</div>











<!-- ***** Footer Start ***** -->
<footer >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="{% static 'images/fc_logo.png' %}" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                        <li><a href="#">firstcry.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 Firstcry. All Rights Reserved. 
                    
                   
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>
  
  
  
  
  
  
  
  
  
  
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <script src="{% static 'js/quantity.js' %}"></script>
  <script src="{% static 'js/adding.js' %}"></script>
  
{% if form.errors %}
<script>
    document.getElementById('view-container').style.display = 'none';
    document.getElementById('edit-container').style.display = 'block';
</script>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

  <script>
    function showEditForm() {
        document.getElementById('view-container').style.display = 'none';
        document.getElementById('edit-container').style.display = 'block';
    }

    function cancelButton(){
        var validator = $("#userupdataion").validate();
        validator.resetForm();           // removes error messages
        $("#userupdataion")[0].reset();  //  reset form values
        document.getElementById('view-container').style.display = 'flex';
        document.getElementById('edit-container').style.display = 'none';
    }

    function saveChanges() {
        document.getElementById('view-container').style.display = 'block';
        document.getElementById('edit-container').style.display = 'none';
    }


$(function (){
    $.validator.addMethod("lettersOnly", function(value, element){
        return this.optional(element) || /^[A-Za-z]+$/.test(value);
    }, "Only letters are allowed");

    $.validator.addMethod("noRepeatChars", function(value, element){
        return !/^([A-Za-z])\1+$/.test(value);
    }, "Enter Valid Name");

    $.validator.addMethod("noRepeatDigits", function(value, element){
        return !/^(\d)\1+$/.test(value);
    }, "Enter Valid Phone Number");

    $("#userupdataion").validate({
        rules:{
            firstname:{
                required: true,
                minlength: 2,
                lettersOnly: true,
                noRepeatChars: true
            },
            lastname:{
                required: true,
                minlength: 2,
                lettersOnly: true,
                noRepeatChars: true
            },
            mobile:{
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10,
                noRepeatDigits: true
            }
        },
        messages: {
            firstname: {
                required: "Enter first name",
                minlength: "At least 2 letters",
                lettersOnly: "Only letters allowed",
                noRepeatChars: "Enter Valid First Name"
            },
            lastname: {
                required: "Enter last name",
                minlength: "At least 2 letters",
                lettersOnly: "Only letters allowed",
                noRepeatChars: "Enter Valid Last Name"
            },
            mobile:{
                required: "Enter Mobile Number",
                digits: "Only digits allowed",
                minlength: "Must be 10 digits",
                maxlength: "Must be 10 digits",
                noRepeatDigits: "Enter Valid Phone Number"
            }
        }
    });
});
</script>

  </body>
  </html>